#body {
    margin: 0;

    background: url(bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

td {
    padding: 5px;

}

/* button {
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
} */



.buttonClass {
    margin-top: 30px;
    font-size:17px;
    font-family:Georgia;
    width:77px;
    height:23px;
    border-width:2px;
    color:rgba(255, 255, 255, 1);
    border-color:#18ab29;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: 1px 1px 0px 1px rgba(11, 44, 230, 1);
    text-shadow: 1px 1px 0px #2f6627;
    background:linear-gradient(rgba(120, 186, 219, 1), rgba(74, 144, 226, 1));
  }
  
  .buttonClass:hover {
    background: linear-gradient(rgba(74, 144, 226, 1), rgba(120, 186, 219, 1));
  }
                
  #footer{
    position: absolute;
    color: gray;
    background-color: black;
    opacity: 0.7;
    bottom: 0;
    padding-left: 20px;
    bottom: 0;
}